<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648341357791-gvommjk4amch4rgm7a5c4dbmr9euug15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648341357791-gvommjk4amch4rgm7a5c4dbmr9euug15</string>
	<key>API_KEY</key>
	<string>AIzaSyCPAs-qVsdaw2iBJ6fk2dR70ltA6RWQgiY</string>
	<key>GCM_SENDER_ID</key>
	<string>648341357791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuturu.app</string>
	<key>PROJECT_ID</key>
	<string>authentication-demo-be13c</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-demo-be13c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648341357791:ios:ad28ec910a33b1992d556a</string>
</dict>
</plist>